@{
    var regbtn = new { @class = "w3-btn w3-white w3-xlarge w3-hover-green" };
}

<!--welcome page-->
<div id="welcompage">
    <div class="landing-welcome">
        <div class="landing-welcome-box">
            <div class="landing-welcome-box-h">
                <h1>Добро пожаловать</h1>
                <h3>Стань на шаг ближе к своей цели уже сегодня</h3>
            </div>
        </div>
    </div>
</div>
<!--icons with main goals-->
<div id="jumbo" class="landing-pict">
    <div class="w3-row w3-section landing-fix-width">
        <div class="w3-quarter w3-center w3-padding">
            <img class="w3-image landing-pict-image" src="~/images/icon-tasks.jpg" />
            <div class="landing-pict-text">
                <h4>Ставь задачи</h4>
                <p>Выбери то, чего давно хотел добиться </p>
            </div>
        </div>
        <div class="w3-quarter w3-center w3-padding">
            <img class="w3-image landing-pict-image" src="~/images/icon-time.jpg" />
            <div class="landing-pict-text">
                <h4>Выбери время</h4>
                <p>Определи, сколько у тебя доступного времени</p>
            </div>
        </div>
        <div class="w3-quarter w3-center w3-padding">
            <img class="w3-image landing-pict-image" src="~/images/icon-work.jpg" />
            <div class="landing-pict-text">
                <h4>Работай</h4>
                <p>Потрать свое доступное время на задачи</p>
            </div>
        </div>
        <div class="w3-quarter w3-center w3-padding">
            <img class="w3-image landing-pict-image" src="~/images/icon-test.jpg" />
            <div class="landing-pict-text">
                <h4>Проверяй</h4>
                <p>Отслеживай свои достижения каждый день</p>
            </div>
        </div>
    </div>
</div>
<!-- registry -->
<div id="lorem2">
    <div class="w3-black landing-fix-height landing-registry">
        <div class="w3-center my-registry">
            <h2>Зарегестрируй уже сейчас</h2>
            <p>И получи больше возможностей</p>
            <div>
                @Html.ActionLink("Регистрация", "Registry", "Account", null, regbtn)
                @Html.ActionLink("Вход", "Login", "Account", null, regbtn)
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="landing-footer">
    <div class="landing-footer-text">
        Copyleft - 2017, A. Kopeykin
    </div>
</footer>