@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = "Objective";
    Layout = "_Layout";
    var userId = UserManager.GetUserId(User);
}

<script>
    var app = new App();
</script>

@*<div class="test_list w3-container my-site-container"></div>*@
<div id="objList" class="ov-App w3-container my-site-container w3-margin-top"></div>

<div id="notif"></div>