@inject UserManager<ApplicationUser> UserManager

<script>
    var app = new App();
</script>

@*<div class="test_list w3-container my-site-container"></div>*@
<div id="objList" class="ov-App landing-fix-width w3-margin-top"></div>

<div id="notif"></div>