@inject UserManager<ApplicationUser> UserManager

<script>
    var app = new App();
</script>

<div class="ov-App landing-fix-width w3-margin-top w3-row">
    <div class="w3-quarter w3-padding-right">
        <div class="animated fadeInLeft w3-padding">
            <a href="#Objectives" class="w3-button w3-black w3-hover-green w3-block w3-left-align">Задачи</a>
            <a href="#Projects" class="w3-button w3-black w3-hover-green w3-block w3-left-align">Проекты</a>
        </div>    
    </div>
    <div class="w3-threequarter animated fadeInUp" id="objList"></div>
</div>

<div id="notif"></div>