<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Podkova" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/site.css" />
    <link rel="stylesheet" href="~/animate.css" />
    <script src="~/site.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>
    <!--top panel-->
    <header>
    <div class="w3-black">
        <div class="w3-xlarge my-navbar">
            <div class="w3-left">
                @await Html.PartialAsync("_HomeButton")
            </div>
            <div class="w3-right">
                @await Html.PartialAsync("_LoginButton")
            </div>
            <div class="w3-center my-navbar-padding">Timewatch.pw</div>
        </div>
    </div>
    </header>

    @RenderBody()

    <script src="~/landing.js"></script>
</body>
</html>
