<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="~/site.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Podkova|Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="~/site.css" />
    <title>@ViewBag.Title</title>
</head>

<body class="w3-light-gray ">
    <div class="w3-bar my-site-gray">
        <a href="~/Pages/Default" class="w3-bar-item w3-button w3-hover-white"><strong>Home</strong></a>
        <a href="~/Pages/Default/Objective" class="w3-bar-item w3-button w3-hide-small w3-hover-lime">Задачи</a>
        <a href="~/Pages/Account/Login" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-lime">Вход</a>
        <a href="~/Pages/Account/Registry" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-lime">Регистрация</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="w3-container">
        @RenderBody()
    </div>
    <footer class="w3-bottom w3-container my-site-gray">
        <div class="w3-text-white w3-padding-32 w3-center">Copyleft - @DateTime.Now.Year</div>
    </footer>
</body>
</html>
