<nav class="w3-sidebar w3-bar-block w3-card-2 w3-top w3-large w3-animate-left my-sidebar" style="display: none" id="nav_side">
    <a id="nav_closeSide" class="w3-bar-item w3-button w3-hover-red w3-text-red">Закрыть</a>
    <a asp-controller="Account" asp-action="Login" class="w3-bar-item w3-button">Вход</a>
    <a asp-controller="Account" asp-action="Registry" class="w3-bar-item w3-button">Регистрация</a>
    <a asp-controller="Account" asp-action="ResetPassword" class="w3-bar-item w3-button">Сброс пароля</a>
</nav>