@model ForgotPasswordViewModel

<div class="my-form-main">
    <form asp-controller="Account"
          asp-action="ForgotPassword"
          asp-route-returnurl="@ViewData["ReturnUrl"]"
          method="post" class="w3-container">
        <h1>Сброс пароля</h1>
        <p>Для сброса пароля, введите почту, указаннаую при регистрации.</p>
        <p>
            <label asp-for="Email">Почта</label>
            <input asp-for="Email" class="w3-input w3-border w3-border-orange" type="email">
            <span asp-validation-for="Email" class="w3-text-red"></span>
        </p>
        <input class="w3-button w3-red" type="submit" value="Отправить">
    </form>
</div>

@await Html.PartialAsync("_ValidationScript")