@{
    ViewBag.Title = "Registry";
    Layout = "_Layout";
}

<div class="w3-content">
    <div class="my-site-container w3-white w3-card w3-margin">
        <div class="my-site-padding-section w3-row">
            <div class="w3-half w3-container">
                <h2>Регистрация</h2>
                <p>Зарегестрируйтесь, чтобы воспользоваться всеми возможностями системы. Для регистрации заполнтие, пожалуйста, все поля</p>
            </div>
            <div class="w3-half w3-container">
                <form class="w3-container my-site-regform">
                    <label>Логин</label>
                    <input class="w3-input w3-border" type="text" required />
                    <label>Email</label>
                    <input class="w3-input w3-border" type="email" required />
                    <label>Пароль</label>
                    <input class="w3-input w3-border" type="password" required />
                    <label>Подтверждение пароля</label>
                    <input class="w3-input w3-border" type="password" required />
                    <input class="w3-btn w3-lime " type="submit" value="Регистрация" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("document").ready(function () {
        $("body").addClass("my-site-image-back");
    })
</script>