@{
    ViewBag.Title = "Registry";
    Layout = "_Layout";
}

<div class="w3-content">
    <div class="my-site-container w3-white w3-padding-128 w3-card w3-margin">
        <h2>Новый пользователь</h2>
    </div>
</div>

<script>
    $("document").ready(function () {
        $("body").addClass("my-site-image-back");
    })
</script>