@model ResetPasswordViewModel

<div class="my-form-main">
    <form asp-controller="Account"
          asp-action="ResetPassword"
          asp-route-returnurl="@ViewData["ReturnUrl"]"
          method="post" class="w3-container">
        <h1>Сброс пароля</h1>
        <input asp-for="Code" type="hidden" />
        <input asp-for="Email" type="hidden" />
        <p>
            <label asp-for="Password">Новый пароль</label>
            <input asp-for="Password" class="w3-input w3-border w3-border-orange" type="password">
            <span asp-validation-for="Password" class="w3-text-red"></span>
        </p>
        <p>
            <label asp-for="ConfirmPassword">Подтверждение пароля</label>
            <input asp-for="ConfirmPassword" class="w3-input w3-border w3-border-orange" type="password">
            <span asp-validation-for="ConfirmPassword" class="w3-text-red"></span>
        </p>
        <input class="w3-button w3-red" type="submit" value="Сбросить пароль">
    </form>
</div>

@await Html.PartialAsync("_ValidationScript")