@{
    ViewBag.Title = "Вход";
    Layout = "_Layout";
}

<div class="w3-content">
    <div class="my-site-container w3-white w3-padding-128 w3-card w3-margin">
        <div class="my-site-padding-section w3-row">
            <div class="w3-half w3-container">
                <h2>Сборс пароля</h2>
                <p>
                   Введите ваш email для получения письма с инструкцией по сбросу пароля.
                </p>
            </div>
            <div class="w3-half w3-container">
                <form class="w3-container my-site-regform">
                    <label>Email</label>
                    <input class="w3-input w3-border" type="text" required />
                    <input class="w3-btn w3-lime" type="submit" value="Отправить" /> 
                    </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("document").ready(function () {
        $("body").addClass("my-site-image-back");
    })
</script>