@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
<h1 style="color: red">Hello world</h1>
<p>This is test of Asp.Net Core</p>
</body>