.status-wip {
    border-left-color: #b7d7e8 !important;
    border-left-style: solid;
    border-left-width: 4px;
}

.status-cancel {
    border-left-color: #ff6f69 !important;
    border-left-style: solid;
    border-left-width: 4px;
}

.status-complete {
    border-left-color: #96ceb4 !important;
    border-left-style: solid;
    border-left-width: 4px;
}

.status-wait {
    border-left-color: #ffeead !important;
    border-left-style: solid;
    border-left-width: 4px;
}

.status-new {
    border-left-color: white !important;
    border-left-style: solid;
    border-left-width: 4px;
}

li.ov-element .ov-menu {
    display: none;
}

.material-icons {
    display: block !important;
    line-height: inherit;
}

li.ov-element{
    padding: 8px;
}
li.ov-element:hover .ov-menu {
    display: list-item;
}

li.ov-element:hover{
    background-color: snow;
}

.material-icons:hover {
    color: #cddc39;
    cursor: pointer;
}

li.ov-element tr td.ov-icon:hover {
    color: #cddc39;
}

li.ov-element tr td.ov-text {
    width: 100%;
    max-width: 500px;
}

input.ov-input {
    width: 100%;
    border-style: none;
    outline: none;
    padding: 6px;
}

.el-edit > * {
    margin: 4px;
}

.ov-element > div > .w3-button {
    border-radius: 6px;
}

input.ov-input:focus {
    border-style: solid;
    border-color: #cddc39;
    border-width: 1px;
    margin-bottom: 4px;
}

.ov-App {
    max-width: 500px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #f9f9f9;
    display: none;
    min-width: 160px;
    position: absolute;
    right: 0;
    z-index: 1;
}

    .dropdown-content button.content-button {
        background-color: inherit;
        border: none;
        color: inherit;
        cursor: pointer;
        display: block;
        margin: 2px;
        outline: 0;
        overflow: hidden;
        padding: 4px;
        text-align: left;
        text-decoration: none;
        white-space: nowrap;
        width: 100%;
    }

    .dropdown-content hr {
        margin: 0px;
        color: black;
    }

    .dropdown-content button.content-button:hover {
        background-color: #cddc39;
        color: black !important;
    }

.dropdown:hover .dropdown-content {
    display: block;
}
