@*model IEnumerable<TestSite02.AbstractModel.Objective>*@

@{
    ViewBag.Title = "Objectives";
    Layout = "_Layout";
}

<h2>@string.Format("Objective {0}", DateTime.Now.ToLocalTime())</h2>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script src="test_me.js"></script>
<script>
    var app = angular.module('ObjectivesList', []);
    app.controller('objsList',
        function ($scope, $http) {
            loadList($scope, $http);
            $scope.AddObjective = function () {
                saveElement($scope, $http);
            }
        });

    function loadList(scope, http) {
        http({
            method: 'get',
            url: '/api/ObjectivesApi'
        }).then(function (responce) {
            scope.objs = responce.data;
        });
    }

    function saveElement(scope, http) {
        http.post(
                '/api/ObjectivesApi',
                JSON.stringify({ 'Name': scope.objectiveName }))
            .then(function (responce) {
                loadList(scope, http);
            },
                function () {
                    console.log("ups, error:(");
                });
    }
</script>

<div ng-app="ObjectivesList" ng-controller="objsList">
    <ul class="w3-ul w3-border">
        <li ng-repeat="x in objs">{{x.name}}</li>
        <li>
            <input ng-model="objectiveName" type="text" required/>
            <button ng-click="AddObjective()" class="w3-button w3-green">Add</button>
        </li>
    </ul>
</div>