@model IEnumerable<TestSite02.AbstractModel.Objective>

@{
    ViewBag.Title = "Objectives";
    Layout = "_Layout";
}

<h2>Objectives</h2>
<script>
    $(document).ready(function() {
        $("#newSubmit").click(function () {
            newTask = $("#newField").val();
            console.log(newTask);
        });
    });
</script>

<ul class="w3-ul w3-border">
    @foreach (var obj in Model)
    {
        <li>     
            <div>
                @obj.Name
            </div>
        </li>
    }
    <li>
            <input id="newField" type="text" name="name"/>
        <button id="newSubmit" class="w3-button w3-green">Add</button>
    </li>
</ul>