@*model IEnumerable<TestSite02.AbstractModel.Objective>*@

@{
    ViewBag.Title = "Objectives";
    Layout = "_Layout";
}

<h2>Objectives</h2>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
    var app = angular.module('ObjectivesList', []);
    app.controller('objsList',
        function($scope, $http) {
            $http(
            {
                method: 'get',
                url: '/api/ObjectivesApi/Get'
            }).then(function successCallback(responce) {
                console.log(responce);
            });
        });
</script>
<div data-ng-app="ObjectivesList" data-ng-controller="objsList">
    <ul class="w3-ul w3-border">
        @*<li ng-repeat="x in objs">
            
        </li>*@
        <li>
            <input id="newField" type="text" name="name"/>
            <button id="newSubmit" class="w3-button w3-green">Add</button>
        </li>
    </ul>
</div>