@model RegisterViewModel
@{
    ViewBag.Title = "Registry";
    Layout = "_Layout";
}

<div class="w3-content">
    <div class="my-site-container w3-white w3-card w3-section">
        <div class="my-site-padding-section w3-row">
            <div class="w3-half w3-container">
                <h2>Регистрация</h2>
                <p>Зарегестрируйтесь, чтобы воспользоваться всеми возможностями системы. Для регистрации заполнтие, пожалуйста, все поля</p>
            </div>
            <div class="w3-half w3-container">
                <form asp-controller="Account" asp-action="Registry" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="w3-container my-site-regform">
                    @*<label>Логин</label>
                    <input class="w3-input w3-border" type="text" required />*@
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="w3-input w3-border" type="email" required />
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="w3-input w3-border" type="password" required />
                    <label asp-for="ConfirmPassword">Подтверждение пароля</label>
                    <input asp-for="ConfirmPassword" class="w3-input w3-border" type="password" required />
                    <input class="w3-btn w3-lime " type="submit" value="Регистрация" />
                    <a href="~/Account/ResetPassword" class="w3-btn w3-red">Восстановить</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("document").ready(function () {
        $("body").addClass("my-site-image-back");
    })
</script>