@{
    ViewBag.Title = "Welcome";
    Layout = "_Layout";
}

<h1 class="w3-center">Добро пожаловать</h1>

<script>
    $("document").ready(function () {
        $("body").addClass("my-site-image-back");
    })
</script>